@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS font */
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  @apply text-black;
}

/* CSS UI add + update product */
.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  display: block;
  width: 45%;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none; /* Xóa giao diện mặc định trên các trình duyệt webkit */
  -webkit-appearance: none;
}

.custom-select select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-select::after {
  content: none;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
}
/* End UI product */